@tailwind base;
@tailwind components;
@tailwind utilities;

.card_btn {
  @apply w-full px-9 py-3 bg-color-secondary-light rounded-md capitalize font-bold ease-in duration-200
}

.card_btn:hover {
  @apply bg-color-secondary
}

@keyframes moveup {
  0% {
    margin-top: 40px;
    opacity: 0;
  }

  50% {
    margin-top: 20px;
    opacity: 0.1;
  }

  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.card {
  perspective: 1000px;
}

.front,
.back {
  backface-visibility: hidden;
  transition: all 0.45 ease;
}

.front {
  overflow: hidden;
}



body {
  background: #212121;
}

.nav {
  text-align: center;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  paddin: 0;
}

.nav a {
  padding: .5em .8em;
  color: #f1b805;
  position: relative;
  text-decoration: none;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #ffaf00;
  border-right: 3px solid #f1b805;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #f1b805;
  border-left: 3px solid #ffaf00;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #ffaf00;
}



.list {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list li {
  list-style: none;
}

.list li a {
  width: 80px;
  height: 80px;
  background-color: #f1b805;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #ffaf00;
  z-index: 1;
}

.list li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.list li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.list li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1b805;
  transition: .5s;
  z-index: 2;
}

.list li a:hover:before {
  top: 0;
}

.list li:nth-child(1) a:before {
  background: red;
}

.list li:nth-child(2) a:before {
  background: black;
}

.list li:nth-child(3) a:before {
  background: #0077b5;
}

.list li:nth-child(4) a:before {
  background: #00A400;
}

.list li:nth-child(5) a:before {
  background: black;
}